$orange: #ff4800;
$blackish: #161616; // The main color of dark
$grey-700: #343a40;
$grey-600: #495057;
$grey-500: #6c757d;
$grey-400: #adb5bd;
$grey-300: #ced4da;
$grey-200: #dee2e6;
$grey-100: #e9ecef; // The main color of bright
$whitish: #f8f9fa;