@font-face {
  font-family: "JosefinSans-Bold";
  font-weight: bold;
  src: url("../assets/fonts/JosefinSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "JalnanGothic";
  font-weight: bold;
  src: url("../assets/fonts/JalnanGothic.ttf") format("truetype");
}

@font-face {
  font-family: "GmarketSansBold";
  font-weight: bold;
  src: url("../assets/fonts/GmarketSansBold.ttf") format("truetype");
}

@font-face {
  font-family: "GmarketSansLight";
  font-weight: bold;
  src: url("../assets/fonts/GmarketSansLight.ttf") format("truetype");
}

@font-face {
  font-family: "GmarketSansMedium";
  font-weight: bold;
  src: url("../assets/fonts/GmarketSansMedium.ttf") format("truetype");

}
@font-face {
  font-family: "Anton-Regular";
  font-weight: normal;
  src: url("../assets/fonts/Anton-Regular.ttf") format("truetype");
}
